<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="*"
        Name="kolo"
        Language="1033"
        Version="$(var.Version)"
        Manufacturer="lilyco-42"
        UpgradeCode="2E2C7B8A-1F4E-4B7D-9C6E-8A3F5D1C6B9E">

        <Package
            InstallerVersion="200"
            Compressed="yes"
            InstallScope="perMachine"
            Platform="x64" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of kolo is already installed." />

        <MediaTemplate EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONFOLDER" Name="kolo">
                    <Component Id="KoloExe" Guid="*">
                        <File
                            Id="kolo.exe"
                            Name="kolo.exe"
                            Source="$(var.Binary)"
                            KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="Main" Title="kolo" Level="1">
            <ComponentRef Id="KoloExe" />
        </Feature>
    </Product>
</Wix>
